/*div{border:  1px solid red;}*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  margin: 0; padding: 0;
  letter-spacing:2px;
  
}

header,footer{
  background-color: #0d3d58;
  margin: 0; padding: 10px 0 10px 0;
  color: #ffffff;
  text-align:center;
  /*border: 1px solid orange;*/

}

h1{
  font-weight:700;
  font-size: 30px;
  letter-spacing:10px;
  margin: 0 0 0 0; 
}

h2{
  font-weight: 400;
  font-size: 15px;
  letter-spacing:4px;
  margin: 0 0 0 0;
}

h3{
  font-weight: 700;
  font-size: 19px;
  letter-spacing:4px;
  margin-bottom: 20px;
}

h4{
  font-weight: 700;
  font-size: 20px;
  letter-spacing:4px;
  margin-bottom: 20px;
  text-align: center;
}


input[type="radio"] {  
  margin-bottom:0;
}

input[type="range"] {  
  margin: 0 padding: 0;
}

input[type="text"] {  
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 18px;
  margin: 3px 0 12px 0;
  display: block;

}

input[type=text]:focus {
  background-color: #b8f4eb;
}

select {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 18px;
  margin: 3px 0 12px 0;
  display: block;
}

table{
  border: 1px solid gray ;
  border-radius: 10px;
  float: bottom;
}

hr{
  margin: 20px 0 15px 0;
  text-align: left;
  border: 1px solid gray;
  width: 300px;
}

th{
  background-color: #823B14;
  padding: 10px 5px 10px 5px;
  color: #ffffff;
}

td{ padding: 10px 5px 10px 5px; }


#outer-container {
  width: 100%;
  padding: 0px;
  /*border: 1px solid red;*/
  padding: 0; margin: 0;
  display: table;
}


#input_bar {
  width: 400px;
  background-color: #145c84;
  padding: 0; margin: 0;
  color:  #ffffff;
  /*border: 1px solid orange;*/
  display: table-cell;
  padding: 0 0 0 20px;
}

#How_div{
  margin: 0; padding: 0 0 0 0;
}

#by_platform{
  margin-top: 15px;
}

#platform{
  width: 280px;
}
#chemistry{
  width: 280px;
}
#chem_length{
  width: 100px;
}
#samples{
  width: 85px;
}

#slider_div{
  margin: 0; padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#base_lane{
  width: 50px; height: 5px;
  background-color: gray
}

.bubble{
  width:25px; height:25px;
  border-radius: 30% 30% 30% 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #CEF2F2;
  color: black;
}


.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  margin: 0;
  background: #CEF2F2;
  opacity: 0.85;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10% 0 0 10%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #9FB3B3;
  border: 1px solid gray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #9FB3B3;
  cursor: pointer;
}

#output_space {
  /*border: 1px solid yellow;*/
  display: table-cell;
}

#tables_space {
  /*border: 1px solid yellow;*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.one_table_space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}

.message_space {
  padding: 15px 40px 15px 40px;
  text-align: justify;
}

p {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}
.if p{
  margin: 0 0 5px 0;
}

.message em{
  font-style: normal;
  font-weight: 700;
  color: #1d87c2;
}

.condpanel{
  display: none;
  margin: 0; padding: 0;
}

.devmessage{
  padding: 0; margin:  0;
  font-size:15px;
  letter-spacing:5px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.devicons{
  padding: 0; margin:  0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a{
  margin: 0 15px 0 15px;
}

@media only screen and (max-width: 800px) {
  #outer-container {
    display: flex;
    flex-direction: column;
  }

  #input_bar{
    width: 100%;
  }
  #output_space{
    width: 100%;
  }
  #tables_space {
    flex-direction: column;
    align-items: center;
  }
  .devmessage {
    flex-direction: column;
  }

  select,input[type="text"]  
  {  
    max-width: 500px }
  }
}
